<footer class="footer">
  <a href="/" class="footer__logo"><img src="/img/logo.svg" alt="logo" /></a>

  <div class="footer__right">
    <ul class="footer__right__list">
      <li>
        <a class="twitter" href="https://twitter.com" rel="noopener">
          Twitter.
        </a>
      </li>
      <li><a href="/terms">Terms.</a></li>
      <li><a href="/privacy">Privacy.</a></li>
      <li><a href="/about">About.</a></li>
    </ul>

    <div class="footer__right__copyright">&copy; 2024</div>
  </div>
</footer>

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.minicolors.min.js"></script>
<script src="/js/script.js"></script>
