<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/main.css" />
<title><%= title %></title>
<!-- ICONS -->
<link rel="icon" href="/icons/favicon.ico" type="image/vnd.microsoft.icon" />
