<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To Zave</title>
    <%- include('./style') %>
  </head>

  <body>
    <div class="container">
      <img src="https://zave.co/site/mail-assets/email-logo.jpg" alt="logo" />
      <h1>Hi <%= firstName %></h1>
      <h3>Welcome To Zave!</h3>

      <p>
        As a Zave member you can now save your most commonly used websites for
        personal reference or share them with the world.
      </p>

      <p>
        Save, group and order your favourite & most visited websites all in one
        place.
      </p>

      <a class="primary" href="http://localhost:3000/dashboard">Get Started</a>
    </div>

    <footer>
      <a href="mailto:hello@zave.com ">hello@zave.com</a>
      <p>&copy; 2024 Zave</p>
    </footer>
  </body>
</html>
