# Server
NODE_ENV=development
PORT=4000

# MongoDB
MONGO_URI=<YOUR_MONGODB_URI>

# JWT
JWT_SECRET=<YOUR_JWT_SECRET>
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# MailTrap Server For Testing
EMAIL_USERNAME=<MAILTRAP_USERNAME>
EMAIL_PASSWORD=<MAILTRAP_PASSWORD>
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525

# Sendgrid Server For Production
SENDGRID_USERNAME=<YOUR_USERNAME>
SENDGRID_PASSWORD=<YOUR_PASSWORD>
