.login-section {
  width: 100%;
  padding: 160px 0px;
  background-repeat: no-repeat;
  background-image: url(/img/large-z-shapes.svg);
  background-position: bottom -250px right -380px;

  @media screen and (max-width: 768px) {
    padding: 70px 0px 110px 0px;
    background-position: bottom -210px right -240px;
    background-size: 580px;
  }

  &__wrapper {
    width: 85%;
    margin: 0 auto;

    h1 {
      font-size: 5.2rem;
      font-weight: 600;
      line-height: 60px;

      @media screen and (max-width: 768px) {
        font-size: 3.6rem;
        line-height: 40px;
      }
    }

    &__form {
      padding-top: 30px;
      width: 720px;

      @media screen and (max-width: 800px) {
        width: 100%;
      }

      input {
        width: 100%;
      }

      .btn {
        padding: 2.25rem 4rem;

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }

    &__sub {
      padding-top: 30px;
      font-size: 1.6rem;
      color: #b7b7b7;
      font-weight: 600;
      padding-top: 20px;

      @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
      }

      a {
        color: #5974f7;

        &:hover {
          color: #4156bb;
        }
      }
    }
  }
}
