<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title: 'Zave - Reset Password' }) %>
  </head>

  <body>
    <%- include('../partials/header-fixed', { showSearch: false, user }) %>

    <main class="reset-password-section background-grey">
      <div class="reset-password-section__wrapper">
        <div class="reset-password-section__wrapper__inner">
          <h1>Change Password</h1>
          <h3>Change your Zave password.</h3>

          <form
            id="reset-password-form"
            class="reset-password-section__wrapper__form"
          >
            <div class="form-group form-group-full-width">
              <input
                type="password"
                name="new-password"
                id="new-password"
                placeholder="New Password"
                required
              />
            </div>
            <div class="form-group form-group-full-width">
              <input
                type="password"
                name="confirm-password"
                id="confirm-password"
                placeholder="Confirm New Password"
                required
              />
            </div>

            <div class="form-group form-group-full-width">
              <button type="submit" class="btn btn--primary">
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <div class="footer-divider"></div>
    <%- include('../partials/footer') %>
  </body>
</html>
