.footer {
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__logo {
    transition: opacity 300ms;

    @media screen and (max-width: 800px) {
      margin-bottom: 20px;
    }
  

    &:hover {
      opacity: 0.6;
    }
  }

  &__right {
    &__list {
      list-style-type: none;
      display: flex;
      align-items: center;

      li {
        &:not(:last-child) {
          margin-right: 2.5rem;
        }

        a {
          color: rgb(167, 167, 167);
          font-size: 1.5rem;
          font-weight: 600;
          transition: color 220ms;

          &:hover {
            color: #666df4;
          }

          &.twitter {
            color: #3488ff;

            &:hover {
              color: #246acc;
            }
          }
        }
      }
    }

    &__copyright {
      font-size: 1.4rem;
      color: #ccc;
      padding-top: 12px;
      text-align: right;

      @media screen and (max-width: 800px) {
        text-align: left;
      }
    
    }
  }
}
